#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #1b1e32;
  color: #e3e3e3;
  padding: 0 2em;
  display: flex;
  align-items: center;
  z-index: 100;
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.25);
box-shadow: 0 0 5px 2px rgba(0,0,0,.25);
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  font-size: 32px;
  margin-left: 10px;
  text-transform: lowercase;
}

#nav-bar #compose-btn {
  margin-left: auto;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all .5s;
  text-transform: uppercase;
  font-size: 12px;
}

#nav-bar #compose-btn:hover {
  background-color: #fff;
  color: #fc03ff;
  transform: scale(1.1);
  -webkit-box-shadow: 0 6px 5px 5px rgba(0,0,0,.25);
  box-shadow: 0 6px 5px 5px rgba(0,0,0,.25);
}

#nav-bar #compose-btn:active, #nav-bar #compose-btn:focus {
  outline: 0;
}

#nav-bar #compose-btn .icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
}

#nav-bar #compose-btn .icon .compose {
  fill: #fff;
  transition: fill .5s;
}

#nav-bar #compose-btn:hover .icon .compose {
  fill: #fc03ff;
}