.new-tweet {
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  background: #00ffff;
  background: -moz-linear-gradient(45deg,  #00ffff 0%, #fc03ff 100%);
  background: -webkit-linear-gradient(45deg,  #00ffff 0%,#fc03ff 100%);
  background: linear-gradient(45deg,  #00ffff 0%,#fc03ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#fc03ff',GradientType=1 );
  -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);
}

.new-tweet h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}

.new-tweet form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-tweet .new-tweet__textarea {
  flex: 1 0 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.new-tweet input[type=submit] {
  border-radius: 6px;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  background: transparent;
  padding: 5px 10px;
  transition: all .5s;
  transition: background .5s, color .5s, transform .5s;
}

.new-tweet input[type=submit]:hover {
  background: #fff;
  color: #fc03ff;
  cursor: pointer;
}

.new-tweet .counter {
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  color: #fff;
  transition: color .5s;
}

.new-tweet .counter--negative {
  color: #ffa900;
}