article.tweet {
  border-radius: 6px;
  border: 2px solid #525365;
  transition: all .5s;
  margin-bottom: 10px;
}

article.tweet:hover {
  border-color: #fff;
}

article.tweet:hover header {
  background-color: #fff;
}

article.tweet:hover header h2, article.tweet:hover header h4 {
  color: #1b1e32;
}

article.tweet:hover section p {
  color: #fff;
}

article.tweet:hover footer {
  border-top: 2px solid #fff;
}

article.tweet:hover footer .tweet__media-controls {
  opacity: 1;
}

article.tweet:hover footer h6 {
  color: #fff;
}

article.tweet header {
  background-color: #525365;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 10px;
  transition: background-color .5s;
}

article.tweet h2 {
  margin-left: 10px;
}

article.tweet h4 {
  margin-left: auto;
  font-weight: 300;
}

article.tweet header .tweet__avatar {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background-image: url("../images/default-avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

article.tweet section {
  padding: 20px;
}

article.tweet section p {
  overflow-wrap: break-word;
  transition: color .5s;
}

article.tweet footer {
  border-top: 2px solid #525365;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border .5s;
}

article.tweet footer h6 {
  margin: 0;
  font-weight: 300;
  transition: color .5s;
}

article.tweet footer .tweet__media-controls {
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity .5s;
}

article.tweet footer a.icon {
  margin: 0 0 0 10px;
  width: 16px;
  height: 16px;
  transition: all .5s;
}

article.tweet footer a.icon:hover {
  transform: scale(1.25);
}

.flag, .retweet, .heart {
  fill: #00ffff;
}

article.tweet footer a.icon:hover .flag {
  fill: #ffa900;
}

article.tweet footer a.icon:hover .retweet {
  fill: #7c48b0;
}

article.tweet footer a.icon:hover .heart {
  fill: #cf002a;
}
