html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  margin: 0;
  color: #86879c;
  background: {
    color: $darker;
  }
  font: {
    family: $body-font;
  }
}

.container {
  width: 28.125rem;
  margin: 5rem auto;
  background: {
    color: $dark;
  }
  padding: 3rem 2rem 2rem;
  border-radius: 0 0 6px 6px;

  .error {
    border-radius: 0.375rem;
    text-align: center;
    border: {
      width: 0.125rem;
      style: solid;
    }
    margin-bottom: 0.625rem;

    .err {
      font-family: $err-font;
      letter-spacing: 0.125rem;
    }

    &.error--blank-form {
      border: {
        color: $err-danger;
      }
      background: {
        color: rgba(207,0,42,0.15);
      }
      color: $err-danger;
      display: none;
    }

    &.error--too-long {
      border: {
        color: $err-warning;
      }
      background: {
        color: rgba(255,169,0,0.15);
      }
      color: $err-warning;
      display: none;
    }
  }
}