.new-tweet {
  border-radius: 0.375rem;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;

  h2 {
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: $tweet-form-obvious;
    font-size: 1.25rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .new-tweet__textarea {
      flex: 1 0 100%;
      margin-bottom: 0.625rem;
      padding: 0.625rem;
      border-radius: 0.375rem;
      border: none;
    }

    input[type=submit] {
      border-radius: 0.375rem;
      font-size: 0.625rem;
      color: $tweet-form-obvious;
      text-transform: uppercase;
      border: 0.125rem solid $tweet-form-obvious;
      background: transparent;
      padding: 0.3125rem 0.625rem;
      transition: all $t-time;

      &:hover {
        background: $tweet-form-obvious;
        color: $gradient-2;
        cursor: pointer;
      }
    }

    .counter {
      font-size: 0.875rem;
      font-family: 'Roboto Mono', monospace;
      letter-spacing: 0.0625rem;
      color: $tweet-form-obvious;
      transition: color $t-time;

      &.counter--negative {
        color: $err-warning;
      }
    }
  }
}


//            _      _                   
//           (_)    | |                  
// _ __ __ _ _ _ __ | |__   _____      __
// | '__/ _` | | '_ \| '_ \ / _ \ \ /\ / /
// | | | (_| | | | | | |_) | (_) \ V  V / 
// |_|  \__,_|_|_| |_|_.__/ \___/ \_/\_/     

// Rainbow Animation 
@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}