article.tweet {
  border-radius: 6px;
  border: 2px solid $tweet-subtle;
  transition: all $t-time;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    border-color: $tweet-obvious;
  }

  &:hover header {
    background-color: $tweet-obvious;
  }

  &:hover header h2, &:hover header h4 {
    color: $darkest;
  }

  &:hover section p {
    color: $tweet-obvious;
  }

  &:hover footer {
    border-top: 2px solid $tweet-obvious;
  }

  &:hover footer h6 {
    color: $tweet-obvious;
  }

  &:hover footer .tweet__media-controls {
    opacity: 1;
  }

  header {
    background-color: $tweet-subtle;
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 0.625rem;
    transition: background-color $t-time;

    h2 {
      margin-left: 0.625rem;
    }

    h4 {
      margin-left: auto;
      font-weight: 300;
    }

    .tweet__avatar {
      margin: 0;
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 0.375rem;
      background: {
        image: url("../images/default-avatar.png");
        size: contain;
        repeat: no-repeat;
        position: center center;
      }
    }
  }

  section {
    padding: 1.25rem;

    p {
      overflow-wrap: break-word;
      transition: color $t-time;
    }
  }

  footer {
    border-top: 0.125rem solid $tweet-subtle;
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border $t-time;
    background: {
      color: transparent;
    }

    h6 {
      margin: 0;
      font-weight: 300;
      transition: color $t-time;
    }

    .tweet__media-controls {
      display: flex;
      align-items: flex-end;
      opacity: 0;
      transition: opacity $t-time;

      a.icon {
        margin: 0 0 0 0.625rem;
        width: 1rem;
        height: 1rem;
        transition: all $t-time;

        &:hover {
          transform: scale(1.25);
        }

        .flag, .retweet, .heart {
          fill: $icon;
        }

        &:hover .flag {
          fill: $flag;
        }

        &:hover .retweet {
          fill: $retweet;
        }

        &:hover .heart {
          fill: $heart;
        }
      }
    }
  }
}